<div class="explain">
  <h1>Crowd-Sourced Funding</h1>

  <p class="tagline">
  Get funding for a group project or activity!
  </p>

  <% @example_projects.each do |project| %>
    <div class="project-box-container-left">
    <%= render :partial => "projects/item", :locals => {:project => project}%>
    </div>
  <% end %>
</div>