<% if current_user == @project.user %>
  <div class="contributors">
    <div class="contributors-inner">
      Activity
      <% @project.activities.each do |a| %>
        <div class="contribution">
          <ul>
            <li><%= a.created_at %> <%= a.user ? "#{a.user.name}/#{a.user.email}" : "System" %> <%= a.detail %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
