<% contribs =  @project.contributions.authorizeds %>
<% if contribs.size > 0 %>
  <div class="contributors">
    <div class="contributors-inner">
      Contributors
      <% contribs.each do |c| %>
        <div>
        <%= render :partial => "projects/contribution_row", :locals => {:contribution => c} %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <% unless @project.editable? %>
    Be the first to contribute to this project.
  <% end %>
<% end %>
