<div class="project-box">
 <div class="project-box-inner">
  <img src="<%= project.image_url %>">
  <div class="project-title"><%= project.name %> </div>
  <div class="project-due">Due by: <%= project.funding_due %> </div>
  <div class="project-amount">$<%= project.amount %> USD </div>

 </div>
</div>