div.project-contribute

  div
    | Contribute
    span.amount
      |  #{number_to_currency(@contribution.amount)}
    |  to
    span.project-name
      |  #{link_to(@contribution.project.name, @contribution.project)}
    |  (Project ##{@contribution.project.id}).

  - if @contribution.reward
    div#reward_text
      | Your contribution will earn the following reward!
      br
      = number_to_currency(@contribution.reward.amount)
      |  or more: "#{@contribution.reward.description}"

  div
    | EverythingFunded uses
    - if @contribution.project.gateway.provider == 'wepay'
      |  WePay
    - if @contribution.project.gateway.provider == 'amazon'
      |  Amazon Payments
    |  to process contributions.

  div.payments-logo
    - if @contribution.project.gateway.provider == 'wepay'
      = image_tag "wepay_small.png"
    - if @contribution.project.gateway.provider == 'amazon'
      = image_tag "amazon-payments.gif"

  = render :partial => "checkout_#{@contribution.project.gateway.provider}"

