---
notices:
  from: "robot@localhost"
  bcc: ""
mailer:
  host: "localhost"
facebook:
  app_id: "123"
  secret: "ab"
exception_notifier:
  from: "exceptions@localhost"
  recipients: ["admin@example.com"]
google:
  analytics: 'UA-XXXXXX-X'
default_payment_gateway: 'wepay'
fee_percentage: 3
