---
notices:
  from: "robot@localhost"
  bcc: ""
mailer:
  host: "localhost"
facebook:
  app_id: "123"
  secret: "ab"
exception_notifier:
  from: "exceptions@localhost"
  recipients: ["admin@example.com"]
google:
  analytics: 'UA-XXXXXX-X'
default_payment_gateway: 'wepay'
fee_percentage: 3
payment_gateways:
  amazon:
    sandbox: true
    access_key: "123"
    access_secret: "abc"
    recipient_token: "abc123"
  wepay:
    sandbox: true
    access_token: "abc123"
    client:
      id: "123"
      secret: "abc"
