notices:
  from: "robot@company"
  bcc: "quality-control@company"
mailer:
  host: "example.com"
aws:
  access_key: abcd
  access_secret: abcd
  sandbox: true
  fee_percentage: 2.5
facebook:
  key: abcd
  secret: abcd
exception_notifier:
  recpipents: ["devops@company"]
