/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  min-width: 934px;
}

.container-fluid {
  font-size: 15px;
}

html a {
  color: black;
}

html a:hover {
  color: black;
}

.nav {
  font-size: 16px;
}

#user-nav {
  color: white;
  font-size: 16px;
  line-height: 28px;
  margin-top: 5px;

  .nav-info {
    margin-right: 1em;
  }

  .user-detail a {
    padding-right: 1em;
    color: white;
  }

  .login {
    float: right;
  }

  form#login {
    margin: 0px;
    display: inline;
    input { margin: 0px }
    button { margin: 0px }
  }
}


.alert { text-align: center;}

.footer {
  clear: both;
  background: #2c2c2c;
  color: white;
  text-align: center;
  margin-top: 1em;

  a, a:hover {
    color: white
  }
  ul {
    li {
      display: inline;
      border-right: thin solid #aaa;
      padding-right: 0.5em;
    }
    li:last-child {
      border-right: none;
    }
  }
}

input.money {
  width: 4em;
  text-align: right;
}

.modal .content{
  margin-left: 1em
}

#modal-signup {
  h2 {
    margin-bottom: 0.2em;
  }

  .login {
    img {
      margin-left: 3em;
      margin-top: 1em;
    }
  }
}