/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.fb-login-button {
  margin-top: 7px;
  margin-left: 15em;
}

.login {
  padding-top: 7px;
  float: right;
}

.user-nav {
  margin-top: 10px;
  font-size: 16px;
}

.user-nav a {
  color: white;
}

.user-nav a:hover {
  color: white;
}

.nav {
  font-size: 16px;
}

.user-detail {
  padding-top: 7px;
  padding-right: 1em;
  color: white;
}

.alert { text-align: center;}
