$boxcolor_dark: #666666;
$boxcolor_lighter: #999999;
$boxcolor_lightest: #bbbbbb;

.contributors {
  background: $boxcolor_dark;
  padding: 0.7em;
  font-size: 120%;
  margin-bottom: 0.5em;
}

.contributors-inner {
  background: $boxcolor_lighter;
  padding: 0.3em;
}

.contribution {
  background: $boxcolor_lightest;
  padding: 0.3em;
}