// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-box-container-left {
  float:right; 
  width: 50%;
}

.project-box-container-right {
}

.explain h1 {
  text-align: center;
}

.explain p {
  text-align: center;
}