// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-box-container {
  float:right;
  width: 50%;
  height: 180px;

 .project-box-inner-photo img { height: 75px}
 .hangboards { display: inline }
}

.explain h1 {
  text-align: center;
}

.tagline {
  text-align: center;
  font-size: 140%;
}

.startnow button {
	float: right;
	margin-right: 2em;
	font-size: 300%;
	line-height: 40px;
}

.terms-of-service {
  margin: 5em;

  p {
    font-size: 22px;
    line-height: 22px;
    span {
      margin-right: 0.5em;
      font-weight: bold;
    }
  }
}

.pricing-chart {
  font-size: 24px;
  line-height: 24px;
}