// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-new {
  padding-left: 10%;
  padding-right: 10%;
}

.project-edit {
  padding-left: 10%;
  padding-right: 10%;

  input,textarea {
    width: 410px
  }
}

.contribute-amount input {
  width: 5em;
}

.project-contribute {
  text-align: center;
  font-size: 140%;

  .amount {
    font-weight: bold    ;
  }

  .payments-logo {
    margin: 1em;
  }

  .project-name {
    font-weight: bold;
  }
}

.contribute-box-text {
  text-align: center;
  color: white
}
