$boxcolor_dark: #666666;
$boxcolor_lighter: #999999;
$boxcolor_light: #eeeeee;
$boxcolor_lightest: #ffffff;

.project-box-border {
  background: $boxcolor_lighter;
  padding: 0.7em;
  font-size: 120%;
  border-radius: 6px;
  margin: 0.5em;
  height: 230px;
}

.project-box {
  height: 220px;
  background: $boxcolor_lightest;
}

.project-box-rolodex {
  text-align: center;
  background: $boxcolor_dark;
  height: 15%;
  color: #eeeeee;
  a {
    color: #eeeeee;
    font-size: 140%
  }
}

.project-box-rolodex-text {
  padding-top: 0.5em;
}

.project-box-inner {
  height: 70%
}

.project-box-inner-top-row {
  height: 75px;
}

.project-box-inner-photo {
  border-radius: 0 0 0 6px;
  margin-left: 0.2em;
  padding-top: 0.2em;

  img {
    width: 75px;
    height: 75px;
  }
}

.project-box-inner-owner {
  float: right;
  padding-top: 0.2em;
  border-radius: 0 0 0 6px;
}

.project-box-inner-detail {
  text-align: center;
  float: right;
  border-radius: 0 0 0 6px;
}

.hangboard {
  float: right;
  background: $boxcolor_light;
  height: 4em;
  margin-right: 1em;
  margin-top: 0.2em;
  border-radius: 8px;
  padding-top: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;

  .title {
    padding-top: 0.2em;
    margin-bottom: 0.5em;
  }

  .money {
    font-size: 120%;
  }

  .count {
    font-size: 120%
  }
}

.hangboards {

}

.project-box-actions {
  background: $boxcolor_light;
  text-align: center;
  padding: 0.2em;
}

.project-box-description {
  font-family: "helvetica";
  padding: 1em;
}

.contribute-box {
  padding: 0.7em;
  .project-box-inner {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 0.5em;
  }
}