$boxcolor_dark: #666666;
$boxcolor_lighter: #999999;
$boxcolor_light: #eeeeee;
$boxcolor_lightest: #ffffff;

.project-box {
  background: $boxcolor_dark;
  padding: 0.7em;
  font-size: 120%
}

.project-box-border {
  background: $boxcolor_lighter;
  padding: 0.3em;
}

.project-box-inner {
  background: $boxcolor_light;
  padding: 1em;

  img { 
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
   }
}

.project-box-inner-owner {
  float: right;
  background: $boxcolor_lightest;
}

.project-title {
  color: white;
}
