// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-new {
  padding-left: 10%;
  padding-right: 10%;
  textarea {
    width: 410px
  }
}

.project-edit {
  padding-left: 10%;
  padding-right: 10%;

  textarea {
    width: 410px
  }
}

.project-buttons {
  margin-top: 1em
}

.project-contribute {
  text-align: center;
  font-size: 140%;

  .amount {
    font-weight: bold    ;
  }

  .payments-logo {
    margin: 1em;
  }

  .project-name {
    font-weight: bold;
  }
}

.projects-publish {
  width: 80%;
  margin: 0px auto;
}

.projects-index {
 .hangboards { display: inline }
}

.projects-show {
  .project-box {
    margin: 0 auto;
    width: 580px;
    .body {
      background-color: white;
    }
  }

  .project-box-inner-photo {
    width: 530px;
  }

  .hangboards {
    margin-right: 40px
  }

  .contribution-row {
    padding: 0.2em;

    td { padding-right: 0.8em }
    td.money { text-align: right; color: green}
    .label + .label { margin-left: 0.1em }
  }
}

.contribute-box {
  padding: 0.7em;

  .body {
    text-align: center;
    color: white
  }

  .body_content { margin-bottom: 5px}

  form { margin-bottom: 0px}
  input {
    width: 5em;
    margin-bottom: 0px;
    margin-right: 3px;
  }
}

.contributors {
  .body {
    background: #BBB
  }
}

.util-box {
}

#reward_text {
  margin-top: 1em;
  margin-bottom: 1em
}

.rewards-box{
  .body {
    padding-top: 0.5em;
    $boxcolor_lighter: #999;
    background: $boxcolor_lighter;
    .money {
      color: white
    }
  }

  ul {
    margin-left: 0.5em;
    li {
      list-style: none;
      margin-bottom: 0.5em;
    }
  }
}

.admin-box {
  .btn-group {
    display: flex;
    justify-content: center;
  }
}

.activity-log {
  .body {
    background: #999
  }
  li {
    list-style: none;
  }
}