// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rewards-box{
  ul {
    margin-left: 15px;
    li {
      list-style: none;
      margin-bottom: 0.5em;

      .money {
        color: white;
      }
    }
  }
}
