<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
      CrowdStarter.us
      </a>

      <ul class="nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li><a href="#">List a project</a></li>
        </ul> 

        <% if logged_in? %>
          <%= current_user.email %> <% link_to "logout", "/session", :method => :delete %>
        <% else %>
          <a class="login" href="/auth/facebook"><%= image_tag "signin_facebook.png" %></a>
        <% end %>
    </div>
  </div>
</div>