<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
      CrowdStarter.us
      </a>

      <ul class="nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li> <div class="fb-login-button">Login with Facebook</div> </li>
        </ul> 
    </div>
  </div>
</div>