<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        CrowdStarter.us
      </a>

      <ul class="nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li> <%= link_to 'List a project', new_project_path%> </li>
        </ul> 

        <% if logged_in? %>
          <span class="user-detail">
            <%= user_link(current_user) %> 
            <%= link_to "logout", session_path, :method => :delete %>
          </span>
        <% else %>
          <a class="login" href="/auth/facebook"><%= image_tag "signin_facebook.png" %></a>
        <% end %>
    </div>
  </div>
</div>